

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  
}

:root {
  --creem: #fcecc7;
  --green: #63c522;
  --white: #ffffff;
  --cofee: #3c3c3c;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.7;
  color: var(--color-text);

}
.block{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  margin: 15px auto;
  padding: 10px;
  background-color: var(--creem);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.block p{
  font-size: 15px;
  color: var(--cofee);
  text-align: justify;
}
.block a{
  color: var(--green);
  font-weight: bold;
}
.block h3{
  font-size: 1.2rem;
  color: var(--green);
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.block li{
  margin: 5px 20px;
  list-style: square;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section{
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

h1,h2,h3,h4,h5 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.2rem;
}

a {
  color: var(--color-white);
  
}

.btn-div {
  position: relative;
  animation: slideInLeft 3s ease-out forwards;
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.active,
.active i {
  color: var(--green) !important;
  font-weight: bold;
}

.nav_menu a.active:hover {
  color: var(--green);
}


/* NAVIGATION */
nav {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 11;
  background: var(--creem);
  padding: 0 1rem;
}
/* change navabar styles using js */
.window-scroll {
  background: var(--color-white);
  box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.2);
}

.nav_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  
}
.logo {
  display: flex;
  font-size: 1.3rem;
  color: var(--cofee);
  font-family: Reey, cursive;
  letter-spacing: 2px;
  font-weight: bold;
  gap: 7px;
}
.logo svg {
  color: var(--green);
  width: 1.5rem;
  height: 1.5rem;
}



nav button {
  display: none;
 
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 4rem;
  
}
.nav_menu a {
  font-size: 1rem;
  font-weight: 500;
  transition:  var(--transition);
  color: var(--cofee);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--creem);
}
.nav_col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--creem);
}
.nav_menu a:hover {
  color: var(--green);
  background-color: var(--creem);
}
.nav_menu i {
  font-size: 1.2rem;
}
.uil-bars,
.uil-multiply {
  color: var(--green);
}




/* footer */
#footer{
  padding: 4vw ;
  background-color: #212936;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
#footer .footer-col{
  padding-bottom: 40px;
}
#footer h3{
  color: rgb(241, 240, 245);
  padding-bottom: 20px;
  font-weight: 600;
}
#footer  li{
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  list-style: none;
  transition: 0.3s ease-in-out;
}
#footer li:hover{
  color: rgb(241, 240, 245);
  cursor: pointer;
}
#footer p{
  color: #7b838a;
}
footer input{
  width: 220px;
  padding: 15px 12px;
  background: #7b838a;
  border: none;
  color: white;
  
}
footer .subscribe a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 15px 12px;
  background-color: white;
  font: 600;
  
}
footer .subscribe  a.yellow{
  color: #374151;
  background-color: white;
  transition: 0.3s ease;
}
footer .subscribe a.yellow:hover{
  color: white;
  background-color: yellowgreen;
}
#footer .copyright{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
#footer .copyright .pro-links{
  margin-top: 0px;
  padding: 10px;
}
#footer .copyright .pro-links i{
  background-color: #5f7185;
  color: white;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 50%;
}
#footer .copyright .pro-links i:hover{
  background-color: var(--green);
  color: var(--creem);
}
#footer .copyright p{
  color: white
}
.technoweb a {
  font-size: 18px;
  color: var(--green);
  transition: 0.3s ease-in-out;
  font-weight: 700;
  font-family: 'Reey', cursive;
}
.technoweb a:hover {
  font-size: 16px;
  color: white;
  text-decoration: underline;
}

/* MEDIA */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);

  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }
  /* NAv bar ///*/


  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--green);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav_menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 12rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav_menu li {
    width: 100%;
    height: 4rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
    color: var(--color-white);
  }

  .nav_menu li:nth-child(2){
    animation-delay: 200ms;
  }
  .nav_menu li:nth-child(3){
    animation-delay: 400ms;
  }
  .nav_menu li:nth-child(4){
    animation-delay: 600ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0deg) rotateX(0deg) scale(1);
      opacity: 1;
    }
  }

  .nav_menu li a {
    background-color: var(--creem);
    width: 100%;
    height: 100%;
    color: var(--cofee);
    display: grid;
    place-items: center;
    
  }

  .nav_menu li a:hover {
    background: var(--cofee);
    color: var(--green);
  }

}

/*Mobile Media queries */
 @media screen and (max-width: 780px) {
    .container {
      width: var(--container-width-sm);
    }

    /*Nav bar */

    .nav_menu{
      right: 3%;
    }
 
  }


@media screen and (max-width: 400px) {
  .nav_menu {
    width: 10rem;
    font-size: 0.8rem;
  }

}

.lazy-element {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.6s ease;
}

.lazy-visible {
    opacity: 1;
    transform: none;
}

